<!DOCTYPE html>
<!--
    Hello hackers! I imagine there are some very fun things you could do to the site, I'm not naive.
    I would however appreciate if you did not. I can't offer a bug bounty because the budget for this
    site is just about 0 but if you find a bug, please let me know! My email is zallchat@isaiahjturner.com
    That will put you in touch with me directly. The site is open source. I figured that was the easiest
    way to get bugs fixed quickly. If you're reading this you should take a look at the source, pull
    requests are encouraged! Link: https://github.com/IsaiahJTurner/ZallChat

    The site doesn't really give you access to anything as you can see from the source. So yes, in theory
    you could take down the site via DDOS or something. Maybe you even find a security hole! But I tried
    to keep this as safe as possible. Let me know if you find a security issue, please!!! I'm a hacker
    just like you :) HEYYY!!! MAYBE YOU GO TO HACKATHONS????? We should team up some time. Message me
    on Twitter @IsaiahJTurner. I'll be going to PennApps, BitCamp, and several others!

    Thats all. Feel free to check up on the security but if you could refrain from black hat hacking
    that would be great :D
-->
<html lang="en">
<head>
    <meta charset="utf-8">

    <title><%= page %> - <%= settings.title.value %></title>
    <meta name="description" content="<%= settings.description.value %>">
    <meta name="author" content="@IsaiahJTurner">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />


    <link rel="canonical" href="http://zallchat.com/" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= page %> - <%= settings.title.value %>" />
    <meta property="og:description" content="<%= settings.description.value %>" />
    <meta property="og:url" content="http://zallchat.com/" />
    <meta property="og:site_name" content="<%= settings.title.value %>" />
    <meta property="article:publisher" content="https://www.youtube.com/AlexisGZall" />
    <link rel="apple-touch-icon" href="/img/icon.png">
    <meta name="apple-mobile-web-app-title" content="ZallChat">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.3.3/sweet-alert.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href='css/emoji.css' type='text/css'>
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    
    <script src="js/script.js"></script>

    <!--[if lt IE 9]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

    </head>
    <body>
        <%- body %>
    
</body>
</html>
